{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>Dish types list
  <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-success">
            Create
  </a>
  </h1>

  <br>

  <div class="row align-items-center">
    <form action="" method="get" class="d-flex">
      <div class="col-8">
        {{ search_form | crispy }}
      </div>
      <div>
        <input class="btn btn-dark" type="submit" value="Search">
      </div>
      </form>
  </div>
  <div class="container">
    <div class="row justify-content-center">

      {% if dish_type_list %}
        <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for type in dish_type_list %}
          <tr>
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
            <td><a href="{% url 'kitchen:dish-type-update' pk=type.id %}">Update</a></td>
            <td><a href="{% url 'kitchen:dish-type-delete' pk=type.id %}">Delete</a></td>
          </tr>
        {% endfor %}
        </table>
        </div>
        </div>
      {% else %}
        <p>There are no dish types in restaurant</p>
      {% endif %}
{% endblock %}