{% extends "base-fullscreen.html" %}
{% load crispy_forms_filters %}

{% block content %}
  {% include "includes/navigation.html" %}
  <div class="container text-center  mt-7">
    <h1>Dish type List</h1>
    <div class="container">
      <h5>You can create a new dish</h5>
      <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-success">
        Create
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form action="" method="get" class="row g-3 align-items-center">
          <div class="col-8">
            {{ search_form | crispy }}
          </div>
          <div class="col-4">
            <input class="btn btn-dark" type="submit" value="search">
          </div>
        </form>
      </div>
      {% if dish_type_list %}
        <table class="table table-bordered table-striped text-center table-hover">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for type in dish_type_list %}
          <tr>
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
            <td><a style="color:seagreen" href="{% url 'kitchen:dish-type-update' pk=type.id %}">Update</a></td>
            <td><a style="color:red" href="{% url 'kitchen:dish-type-delete' pk=type.id %}">Delete</a></td>
          </tr>
        {% endfor %}
        </table>
      {% else %}
        <p>There are no dish types in restaurant</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

